<app-navbar></app-navbar>

<h1 class="title">My Trips ✈️</h1>

@if (trips.length === 0) {
  <p class="empty">No trips found. Create a new trip first.</p>
}

<div class="trip-container">

  <div class="trip-card" *ngFor="let trip of trips">

    <img
      [src]="trip.image_url || 'https://images.unsplash.com/photo-1507525428034-b723cf961d3e'"
      alt="Trip Image"
    >

    <div class="card-content">

      <h2>{{ trip.trip_name }}</h2>

      <p>{{ trip.description }}</p>

      <p class="date">
        {{ trip.start_date | date }} → {{ trip.end_date | date }}
      </p>

      <div class="buttons">

        <button class="view" (click)="openTrip(trip.id)">
          View
        </button>

        <button class="edit" (click)="editTrip(trip)">
          Edit
        </button>

        <button class="delete" (click)="deleteTrip(trip.id)">
          Delete
        </button>

      </div>

    </div>

  </div>

</div>